In [1]:
import pyarrow.parquet as pq

filename = r"C:\Users\HrishiSingh\Downloads\fhv_tripdata_2019-02.parquet"
trips = pq.read_table(filename)
trips = trips.to_pandas()
display(trips)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037
...,...,...,...,...,...,...,...
1707645,B03129,2019-02-28 23:55:25,2019-03-01 00:06:18,94.0,169.0,NaN,B03129
1707646,B03157,2019-02-28 23:35:26,2019-02-28 23:39:00,264.0,265.0,NaN,B03157
1707647,B03157,2019-02-28 23:13:40,2019-02-28 23:17:24,264.0,265.0,NaN,B03157
1707648,B03157,2019-02-28 23:18:45,2019-02-28 23:56:57,264.0,265.0,NaN,B03157
1707649,B03177,2019-02-28 23:45:40,2019-02-28 23:49:41,264.0,265.0,NaN,B03177

In [2]:
display(trips)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00037,2019-02-01 00:08:44,2019-02-01 00:23:35,264.0,265.0,NaN,B00037
1,B00037,2019-02-01 00:27:51,2019-02-01 00:32:54,264.0,265.0,NaN,B00037
2,B00037,2019-02-01 00:18:30,2019-02-01 00:25:45,264.0,265.0,NaN,B00037
3,B00037,2019-02-01 00:43:15,2019-02-01 00:48:29,264.0,265.0,NaN,B00037
4,B00037,2019-02-01 00:01:45,2019-02-01 00:09:13,264.0,265.0,NaN,B00037
...,...,...,...,...,...,...,...
1707645,B03129,2019-02-28 23:55:25,2019-03-01 00:06:18,94.0,169.0,NaN,B03129
1707646,B03157,2019-02-28 23:35:26,2019-02-28 23:39:00,264.0,265.0,NaN,B03157
1707647,B03157,2019-02-28 23:13:40,2019-02-28 23:17:24,264.0,265.0,NaN,B03157
1707648,B03157,2019-02-28 23:18:45,2019-02-28 23:56:57,264.0,265.0,NaN,B03157
1707649,B03177,2019-02-28 23:45:40,2019-02-28 23:49:41,264.0,265.0,NaN,B03177